.App {
  text-align: center;
}

.validate{
  text-align: center;
}
/* .input-field{
width: 100vw;
text-align: center;
} */

.card-panel{
  height: 60pt;
}
.food-pass{
  margin-top: -10pt;
  height: 50pt;
  width: 100vw;
}