.App {
  text-align: center;
}

.validate{
  text-align: center;
}
/* .input-field{
width: 100vw;
text-align: center;
} */

.card-panel{
  height: 60pt;
}
.food-pass{
  margin-top: -10pt;
  height: 50pt;
  width: 100vw;
}

.home-gif{
  align-content: center;
  background-image: url("https://cdn.dribbble.com/users/208061/screenshots/2663861/movin-food.gif") ;
  margin-top: 10pt;
  height: 350pt;
  width: 100vw;
  
}

.how-to{
  background-image: url("https://i.pinimg.com/originals/a2/18/f7/a218f772a59aad480fcded754fa01824.gif") ;
  height: 300pt;
  width: 100vw;
  margin-top: -8pt;
  text-align: left;
}